<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f8fdb2f3-afcf-4a58-a4e0-5b76d84024d1" name="http://www.omdbapi.com Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f8fdb2f3-afcf-4a58-a4e0-5b76d84024d1fileName">http%3A%2F%2Fwww.omdbapi.com-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="5944bbdf-aad7-4a72-a2e0-8bed7d6d31f5">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="52da2fe5-410b-4d7c-afb8-b3d3e18fa613">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
