<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0c77ddc9-95e6-441b-a7f2-10cc534aa5b3" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0c77ddc9-95e6-441b-a7f2-10cc534aa5b3fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
