<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="5fb35ae5-c43a-4d78-a37b-26b49f1664ff" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="5fb35ae5-c43a-4d78-a37b-26b49f1664fffileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
