<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6709cf0a-e298-4106-a65a-4f62c100bc98" name="Omdb Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6709cf0a-e298-4106-a65a-4f62c100bc98fileName">Omdb-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
